<%= simple_form_for(@dive) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dive_types %>
    <%= f.input :computer %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
    <%= f.input :max_depth %>
    <%= f.input :avg_depth %>
    <%= f.input :min_temp %>
    <%= f.input :max_temp %>
    <%= f.input :sample_interval %>
    <%= f.input :data_points %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
