<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @scubadive.user %>
</p>

<p>
  <strong>Divespot:</strong>
  <%= @scubadive.divespot %>
</p>

<p>
  <strong>Gear set:</strong>
  <%= @scubadive.gear_set %>
</p>

<p>
  <strong>Enjoyment:</strong>
  <%= @scubadive.enjoyment %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @scubadive.comments %>
</p>

<p>
  <strong>Tip for others:</strong>
  <%= @scubadive.tip_for_others %>
</p>

<p>
  <strong>Map tracks:</strong>
  <%= @scubadive.map_tracks %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @scubadive.visibility %>
</p>

<p>
  <strong>Start air:</strong>
  <%= @scubadive.start_air %>
</p>

<p>
  <strong>End air:</strong>
  <%= @scubadive.end_air %>
</p>

<%= link_to 'Edit', edit_scubadive_path(@scubadive) %> |
<%= link_to 'Back', scubadives_path %>
